# App Settings

APP_FORWARD_HEADERS=true
APP_PLATFORM=Linux
APP_UID=blazorshorturl

# local development
APP_ENVIRONMENT=Development
APP_HOSTNAME=localhost
APP_SERVER_PORT=7100
BASE_ADDRESS=https:/localhost:7100
LOG_LEVEL=Debug

# Production (Docker container)
# BASE_ADDRESS needed for API calls to IdentityController
# Start with HTTP for containers -- steps for adding HTTPS support for containers varies
# APP_ENVIRONMENT=Production
# APP_HOSTNAME=host_ip_address
# APP_SERVER_PORT=5100
# BASE_ADDRESS=http://host_ip_address:5100
# LOG_LEVEL=Information

# uuidgen on macos to create development SSL certificate
CREDENTIAL_PLACEHOLDER=WWWW-XXXX-YYY-ZZZ

ADMIN_EMAIL=username@domain.com
ADMIN_PASSWORD=XXXYYYZZ
API_KEY=XXXX-YYYY-ZZZ

# ConnectionStrings for EF Core Migrations
# AppDbContext=Server=mssql_ip_address;Database=db_name;User Id=sa_user;Password=sa_password;TrustServerCertificate=true;Connection Timeout=30;
# DataContext=Server=mssql_ip_address;Database=db_name;User Id=sa_user;Password=sa_password;TrustServerCertificate=true;Connection Timeout=30;

# ConnectionStrings for application
AppDbContext=Server=mssql_ip_address;Database=db_name;User Id=db_user;Password=db_password;TrustServerCertificate=true;Connection Timeout=30;
DataContext=Server=mssql_ip_address;Database=db_name;User Id=db_user;Password=db_password;TrustServerCertificate=true;Connection Timeout=30;
