# App Settings

APP_FORWARD_HEADERS=true
APP_PLATFORM=Linux
APP_UID=blazorshorturl

# local development
# APP_HOSTNAME=localhost
APP_ENVIRONMENT=Development
BASE_ADDRESS=https://localhost:5100
LOG_LEVEL=Debug

# ASPNETCORE_HTTP_PORTS=80;8080
# ASPNETCORE_HTTPS_PORTS=443;8081
# ASPNETCORE_URLS=https://+:7100;http://+:5100

ASPNETCORE_HTTP_PORTS=5100

# Production (Docker container)
# BASE_ADDRESS needed for API calls to IdentityController
# APP_ENVIRONMENT=Production
# BASE_ADDRESS=http://192.168.3.112:5100
# LOG_LEVEL=Information

# uuidgen on macos
CREDENTIAL_PLACEHOLDER=WWWW-XXXX-YYY-ZZZ

ADMIN_EMAIL=username@domain.com
ADMIN_PASSWORD=XXXYYYZZ
API_KEY=XXXX-YYYY-ZZZ

# ConnectionStrings for EF Core Migrations
# AppDbContext=Server=mssql_ip_address;Database=db_name;User Id=sa_user;Password=sa_password;TrustServerCertificate=true;Connection Timeout=30;
# DataContext=Server=mssql_ip_address;Database=db_name;User Id=sa_user;Password=sa_password;TrustServerCertificate=true;Connection Timeout=30;

# ConnectionStrings for application
AppDbContext=Server=mssql_ip_address;Database=db_name;User Id=db_user;Password=db_password;TrustServerCertificate=true;Connection Timeout=30;
DataContext=Server=mssql_ip_address;Database=db_name;User Id=db_user;Password=db_password;TrustServerCertificate=true;Connection Timeout=30;
