# docker-compose.yml
#
version: '3.4'

services:
  blazorapp:
    build:
      context: .
      dockerfile: Dockerfile
    image: cogentcoder/blazorshorturl
    container_name: blazorshorturl
    env_file: .env

    environment:
      - ASPNETCORE_ENVIRONMENT=$APP_ENVIRONMENT
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=$APP_FORWARD_HEADERS
      - ASPNETCORE_URLS=$BASE_ADDRESS
      - BUILD_PLATFORM=$APP_PLATFORM
      - AppDbContext=$AppDbContext
      - DataContext=$DataContext
      - ADMIN_EMAIL=$ADMIN_EMAIL
      - ADMIN_PASSWORD=$ADMIN_PASSWORD
      - API_KEY=$API_KEY

    labels:
      - traefik.enable=true
      - traefik.http.routers.blazorapp.rule=Host(`$HOSTNAME`)
      - traefik.http.services.blazorapp.loadbalancer.server.port=$SERVER_PORT

    volumes:
      - /opt/BlazorShortUrl/logs:/logs

networks:
  default:
    external:
      name: traefik
