@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorShortUrl</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        @* The user must be authenticated (logged in) to see the link. *@
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
        </AuthorizeView>

        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="auth"> *@
        @*         <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required *@
        @*     </NavLink> *@
        @* </div> *@

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="shorturl-ssr">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ShortUrl
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin" Context="innerContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="roles">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Roles
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                        </NavLink>
                    </div>
                </AuthorizeView>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Logout">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </div>
            </Authorized>

            <NotAuthorized>
                @* <div class="nav-item px-3"> *@
                @*     <NavLink class="nav-link" href="Account/Register"> *@
                @*         <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register *@
                @*     </NavLink> *@
                @* </div> *@

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        @* <div class="nav-item pa-3"> *@
        @*     <NavLink class="nav-link" href="weather"> *@
        @*         @_authMessage *@
        @*     </NavLink> *@
        @* </div> *@

    </nav>
</div>


@code {
    private string? _currentUrl;

    [CascadingParameter] public HttpContext? HttpContext { get; set; }

    [CascadingParameter] private Task<AuthenticationState>? AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
